/* #tr {
    border: 1px solid black;
} */




#head2 {
    font-family: sans-serif;
}


#head2 {
    font-family: sans-serif;
}

#head3 {
    font-family: monospace;

}

#myName {
    font-weight: light;
}


.inlineEle {
    display: inline;
}