/* * {
    color: red;
    font-family: sans-serif;
} */

/* h1 {
    color: red;
} */


/* .cheetahBacha {
    color: rebeccapurple;
}

.averageBacha {
    color: red;
}


#heading {
    color: red;
} */

/* .studentNames {
    color: blue;
}

li > a {
    color: gray;
}

p > a {
    color: orange;
} */




/* li  a {
    color: gray;
}

p  a {
    color: orange;
}  */


 /* h1+p {
    color: red;
 } */




 /* h1~p {
    color: rgb(255, 0, 247);
 }  */
/* 
 *{
    color : red


 } */





#main-container {
    background-color: red;
    border: 2px solid black;
    width: 400px;
}

#aboutMe {
    background-color: indianred;
    width: inherit;
  
}









